<!-- Renders search bar -->
<%= render 'shared/navsearchbar' %>
<div container >
  <div class="col-lg-4">
    <div class="new-list" style="width: 16rem;">
      <a href="#" class="btn6">Click & Create A New List</a>
    </div>
  </div>
</div>
<%# <div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card-shop" style="width: 16rem;"> %>
