<h1>Lists#index</h1>
<!-- Renders search bar -->
<div class="resultsearchbox">
  <%= render "shared/search" %>
</div>

<%# <div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card-shop" style="width: 16rem;"> %>
