// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Arial", "Helvetica", "sans-serif";
$headers-font: "Arial", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1, h2, h3, h4, h5, h6, p, a, li{
  color: #088E8B;
}

h1 {
  text-align: center;
  font-weight: bolder;
  margin: 24px auto !important;
}

#white-text {
  color: white;
}
