<li class="nav-item dropdown">
    <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/8/89/Heart-food.jpg", class:"avatar-bordered dropdown-toggle", id: "navbarDropdown", data: { toggle:"dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class:
        "dropdown-item" %>
    </div>
</li>
