  <!-- Home page & list page quick picks -->
  <section class="features-icons text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card-shop">
          <a href="/results?query=spanish">
            <img src="https://images.unsplash.com/photo-1571167366136-b57e07761625?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" class="card-img-top" alt="spanish food list" />
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex mb-2">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Spanish</h3>
              <p class="lead mb-0">Enjoy the best tapas and iberico ham!</p>
            </div>
          </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-shop">
          <a href="/results?query=cantonese">
          <img src="https://images.unsplash.com/photo-1495899686424-be6ded54191a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="indonesian food list"/>
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex mb-2">
                  <i class="icon-screen-desktop m-auto text-primary"></i>
                </div>
                <h3>Cantonese</h3>
                <p class="lead mb-0">The search for the nicest dim sum continues!</p>
              </div>
            </div>
          </a>
          </div>
        <div class="col-lg-4">
          <div class="card-shop">
          <a href="/results?query=local">
          <img src="https://images.unsplash.com/photo-1605464370799-719bc1bfba78?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZmF2b3VyaXRlJTIwaGVhcnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="die die must eat food list" />
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex mb-2">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Go local!</h3>
              <p class="lead mb-0">Discover local restaurants selection!</p>
            </div>
          </div>
        </div>
        </div>
    </div>
  </section>
