<!-- Banner & Search Bar -->
<div class="container search-bar-container">
  <div class="wrap">
    <%= simple_form_for :search, url: '/results', method: :get do |f| %>
      <div class="d-flex search-form-control form-group">
        <input class="form-control input-lg" type="text" name="query" id="query" placeholder="Start your food search here" />
        <button type="submit" class="searchButton">
          <i class="fas fa-search fa-2x"></i>
        </button>
      </div>
    <% end %>
    <% if flash[:alert].present? %>
        <p class="alert-main"><%= alert %></p>
    <% end %>
  </div>
</div>
