<div class="resultsidebar">
  <div class="form-group">
    <input type="text" class="form-control" id="namelistnew" placeholder="Name Me!">
  </div>
  <table>
    <div id="temp-list">
    </div>
  </table>
  <button class="btn btn-success btn-block">Save to list</button>
</div>
