<div class="resultsidebar">
  <div class="form-group">
    <input data-list-target="namelistnew" type="text" class="form-control" id="namelistnew" placeholder="Name Me!">
  </div>
  <table>
    <div id="temp-list">
    </div>
  </table>
  <!-- user logged in -->
  <% if current_user %>
    <button class="btn btn-success btn-block">
      <%= link_to "Create new list", new_user_list_path(current_user), data: {action: "click->list#createNewList"} %>
    </button>
  <% else %>
 <button class="btn btn-warning dropdown-toggle btn-block mb-3" type="button" id="drop-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Log in / Sign up to continue!
        </button>
        <div class="dropdown-menu" aria-labelledby="drop-down">
          <button
                    type="button"
                    class="dropdown-item"
                    data-toggle="modal"
                    data-target="#exampleModalB">
                    Log in
          </button>
          <button
                    type="button"
                    class="dropdown-item"
                    data-toggle="modal"
                    data-target="#exampleModalA">
                    Sign up
          </button>
        </div>
  <% end %>
</div>
