<div class="resultsidebar">

  <div class="form-group">
    <input data-list-target="namelistnew" type="text" class="form-control" id="namelistnew" placeholder="Name Me!">
  </div>
  <table>
    <div data-list-target="temp" id="temp-list">
    </div>
  </table>
  <!-- user logged in -->
    <div class="btn btn-primary deleteL">
      <%= link_to "Clear list" %>
    </div>

  <% if current_user %>
      <%= link_to "Create new list", new_user_list_path(current_user), data: {action: "click->list#createNewList"}, class:"btn btn-flat-reverse my-2"%>
  <% else %>
    <div>
      <button class="btn btn-flat-reverse dropdown-toggle " type="button" id="drop-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Register to continue!
      </button>
      <div class="dropdown-menu" aria-labelledby="drop-down">
            <button
                      type="button"
                      class="dropdown-item"
                      data-toggle="modal"
                      data-target="#exampleModalB">
                      Log in
            </button>
            <button
                      type="button"
                      class="dropdown-item"
                      data-toggle="modal"
                      data-target="#exampleModalA">
                      Sign up
            </button>
      </div>
    </div>
  <% end %>
</div>
