  <div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <h3><%= calendar.scheduled_date %></h3>
              <h4>visiting <%= calendar.restaurant.name %> -</h4>
              <p class="card-text p-y-1">Some quick example text to build on the card title .</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
