<div class="container">
  <div class="row hidden-md-up">
    <div class="col-12">
      <div class="calendar">
        <div class="calendar-date">
          <h3><strong><%= calendar.scheduled_date.to_formatted_s(:rfc822) %></strong></h3>
        </div>
        <div class="calendar-details">
          <h4><%= link_to calendar.restaurant.name, restaurant_path(calendar.restaurant) %></h4>
          <p><%= calendar.restaurant.address %></p>
        </div>
      </div>
    </div>
  </div>
</div>
