<%# Puts nav bar right on top %>
<%= render 'shared/navsearchbar' %>

<h1 class="teal">My scheduled visits</h1>
<div class="scheduled-list">
  <div class="cal-container">
    <div class="dateholder">Today's Date: <span id="datetime"></span>
    </div>
  </div>
    <% @calendars.each do |cal| %>
      <% if cal.scheduled_date %>
        <%= render "calendars/calendar", calendar: cal %>
      <% end %>
    <% end %>
  </div>
</div>
<%= link_to "Back to Dashboard", user_lists_path(current_user), class:"btn btn-flat my-1 mx-3" %>

<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
