<%= render 'shared/navsearchbar' %>
<h1>My scheduled visits</h1>
<div class="scheduled-list">
  <div class="border-line">Today's Date: <span id="datetime"></span>
  </div>
</div>
<% @calendars.each do |cal| %>
  <% if cal.scheduled_date %>
    <%= render "calendars/calendar", calendar: cal %>
  <% end %>
<% end %>

<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>
