<%= simple_form_for(resource, url:
session_path(resource)) do |f| %>
<div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, input_html: {
    autocomplete: "email" } %>
    <%= f.input :password, required: true, input_html: { autocomplete:
    "current-password" } %>
    <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
</div>
<div class="modal-footer">
    <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-primary my-1" %>
    </div>
</div>
<% end %>
