// .alert {
//   position: fixed;
//   bottom: 16px;
//   right: 16px;
//   z-index: 1000;
// }

.alert-main {
  padding: 2px;
  width: auto;
  display: flex;
  position: relative;
  bottom: 2px;
  background: #f58634;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin: 1px;
  text-align: justify;
  font-size: 14px;
  color: aliceblue;
}
