.calendar {
  border: 1px solid;
  border-color: #0ABAB5;
  border-radius: 16px;
  background-color: white;
  height: 88px;
  display: flex;
  align-items: center;
  margin: 8px;
}

.calendar-date {
  width: 50%;
  background-color: #0ABAB5;
  border-radius: 16px;
  padding: 10px;
  text-align: center;
  margin: 8px;
}

.calendar-date h3 {
  color: white;
  margin: 4px auto;
}

.calendar-details {
  width: 50%;
  text-align: center;
}

.calendar-details h4,
.calendar-details p {
  margin: 4px auto;
}

.calendar-details a:hover {
  text-decoration: none;
  color: #0ABAB5;
}

.cal-container  {
  background-color: #0ABAB5;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 24px;
}
