// Restaurants cards
.card-resto {
  width: 520px;
  border: 1px solid !important;
  border-color: #0ABAB5 !important;
  border-radius: 12px;
  height: 280px;
  overflow: hidden;
  background: rgb(248, 246, 246);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 8px;
  border: 1px solid rgb(122, 121, 121);
}

.card-resto h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  // cursor:pointer;
}

.card-resto p {
  font-size: 12px;
  opacity: .7;
  margin: 8px;
  // cursor:pointer;
}

.card-resto .card-resto-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  // cursor:pointer;
}

.card-resto-infos .card-resto-user {
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-resto>img {
  height: 200px;
  width: 160px;
  object-fit: cover;
  // cursor:pointer;
}


h1 {
  margin-left: 6px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.rest-name {
  padding-left: 0 !important;
}

p.pl-2 {
  padding-left: 0;
}

.img-info {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  margin-top: 8px;
  border-top: 1px solid grey;
}

.resto-grid {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  left: 10px;
  margin: 4px;
  align-items: center;
  justify-content: flex-start;
}

// Results content
.resultcontent {
  left: 10px;
  width: 100%;
}

.resultsearchbox  {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100px;
  background-image: url('https://images.unsplash.com/photo-1486427944299-d1955d23e34d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fGZvb2QlMjByYWluYm93fGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  background-size: contain;
}

.addtolist  {
  position: sticky;
  text-align: right;
  float: right;
  right: 8px;
  top: 0px;
  background-color: lightgreen;
  border-radius: 40px;
  padding: 5px 5px 5px 5px;
  top: 8px;
}

.resultsidebar {
  padding: 8px;
  margin: 12px;
  z-index: 20;
  top: 128px;
  right: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.9);
}

/* Copy URL to clipboard feature */
.copy-to-clipboard {
  background-image: url('https://images.unsplash.com/photo-1501959915551-4e8d30928317?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80') !important;
  background-size: cover;
  background-position: center;
  border: 1px solid;
  border-color: #0ABAB5;
  border-radius: 12px !important;
  width: 396px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.copy-to-clipboard .form-control {
  height: 42px;
  width: 80%;
}

.copy-to-clipboard .btn-flat {
  height: 42px;
  width: 50%;
}

.dashboard-card {
  margin-top:20px;
  padding-right:10px;
  text-shadow: 1px 1px #000;
}

.dashboard-card h2 {
  color: white;
}

.resto-section-1, .resto-section-2, .resto-section-3 {
  border-radius: 12px;
}

.resto-section-1 {
  padding-left: 0;
}

.resto-section-1 img {
  border-radius: 12px 0 0 12px;
}

.resto-details {
  flex-direction: column;
  align-items: start;
  padding-left: 32px;
}

.resto-section-2 {
  flex-direction: column;
  align-items: baseline;
}

.resto-section-3 {
  justify-content: center;
}

.schedule-form input {
  margin: 0px !important;
}

.explore-form div {
  margin-right: 8px;
}

.resto-tags {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.resto-onetag {
  height: 32px;
}

.tags-display {
  align-items: center;
}

.tags-form input,
.tags-form p {
  margin-right: 8px;
}

#card-bg {
  background-image: url('https://images.unsplash.com/photo-1501959915551-4e8d30928317?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80') !important;
  background-size: cover;
  background-position: center;
}

#card-bg-long {
    background-image: url('https://images.unsplash.com/photo-1494859802809-d069c3b71a8a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80') !important;
    background-size: cover;
    background-position: center;
}

// #rev-header {
//   width: 1038px;
//   height: 500px;
//   border-radius: 12px;
//   padding: 0;
//   margin: 0;
//   background-color: #d6d6d6;
//   text-align: center;
//   text-decoration: none;
// }

.review-list {
  display: grid;
  width:fit-content;
  grid-template-columns: 1fr 1fr 1fr;
}

.review {
  background-color: #fff;
  margin: 16px;
  padding: 8px;
  border-radius: 12px;
  height: 300px;
  width: 324px;
  overflow: auto;
}

.review-form {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  border-radius: 12px;
}

.review-input {
  padding: 8px;
  border-radius: 12px;
  min-width: 25%;

  .form-group {
    margin-bottom: 0;
  }
}

// Cards for dashboard
.card-list {
  overflow: hidden;
}

.card-list .list-square {
  height: 200px;
  width: 100%;
  background-color: #00AF91;
  color: white;
  text-align: center;
    border-radius: 0 0 85% 85% / 30%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.card-list .list-square-new {
  height: 200px;
  width: 100%;
  background-color: #ED8A99;
  color: white;
  text-align: center;
    border-radius: 0 0 85% 85% / 30%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.card-list h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.card-list h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-list p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-list .card-list-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

img.card-img-top {
  object-fit: cover;
}
