.card-resto {
  width: 640px;
  height: 320px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 8px;
  border-radius: 2px;
  cursor:pointer;
}

.card-resto>img {
  height: 240px;
  width: 200px;
  object-fit: cover;
  cursor:pointer;
}

.resto-grid {
  // background-size: cover;
  // background-position: center;
  // height: 150px;
  // border-radius: 1px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  left: 10px;
  position: absolute;
  margin: 4px;
  align-items: center;
  justify-content: flex-start;
  // font-size: 22px;
  // color: white;
  // font-weight: bolder;
  // text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.card-resto h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  cursor:pointer;
}

.card-resto p {
  font-size: 12px;
  opacity: .7;
  margin: 8px;
  cursor:pointer;
}

.card-resto .card-resto-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  cursor:pointer;
}

.card-resto-infos .card-resto-user {
  right: 16px;
  top: -20px;
  width: 40px;
}

.resultcontent {
  // position: absolute;
  // top: 540px;
  left: 10px;
  width: 100%;
}

.resultsearchbox  {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100px;
  background-image: url('https://images.unsplash.com/photo-1486427944299-d1955d23e34d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fGZvb2QlMjByYWluYm93fGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  background-size: contain;
}

.addtolist  {
  position: sticky;
  text-align: right;
  float: right;
  right: 8px;
  top: 0px;
  background-color: lightgreen;
  border-radius: 40px;
  padding: 5px 5px 5px 5px;
  cursor: pointer  ;
  top: 8px;
}

.resultsidebar {
  padding: 4px;
  z-index: 20;
  top: 128px;
  right: 20px;
  width: 280px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  margin-left: 616px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.9);
}

.card-list {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.card-list .list-square {
  height: 200px;
  width: 100%;
  background-color: #00AF91;
  color: white;
  text-align: center;
}

.card-list .list-square-new {
  height: 200px;
  width: 100%;
  background-color: #F58634;
  color: white;
  text-align: center;
}

.card-list h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.card-list h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-list p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-list .card-list-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.list-grid {
  // background-size: cover;
  // background-position: center;
  // height: 150px;
  // border-radius: 1px;
  // width: 80%;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 4px;
  align-items: center;
  justify-content: flex-start;
  // width: 1600px;
  // font-size: 22px;
  // color: white;
  // font-weight: bolder;
  // text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

a:hover {
  text-decoration: none;
}

/* Copy URL to clipboard feature */
.copy-to-clipboard {
  border: 1px solid;
  border-color: #0ABAB5;
  border-radius: 4px;
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.copy-to-clipboard .form-control {
  height: 42px;
  width: 80%;
}

.copy-to-clipboard .btn-flat {
  height: 42px;
  width: 50%;
}
