.navbar-lewagon {
  height: 120px;
  justify-content: space-between;
  background: #0abab5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  min-width: 30%;
  justify-content: flex-end;
}

img.navbar-brand {
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width:300px;
}

.nav-item {
  text-align: center;
  cursor: pointer;
}

.nav-link {
  color: white !important;
}

.navbar-lewagon .search-bar-container {
  position: absolute;
  top: 50%;
  left: 10%;
}
