.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

img.navbar-brand{
  overflow: hidden;
  width:100%;
  height:auto;
  max-width:300px;
}
// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
