// body {
//   font: 12px/1.5 'PT Sans', serif;
//   margin: 25px;
// }

.tags {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: flex;

  li {
    position: relative;
    display: flex;
    align-items: center;
    background:#0ABAB5;
    margin: 0 4px 8px;
    overflow:hidden;

    &:hover {
      a.delete{
        transform: translate(0);
      }
    }
  }
}

// .tags li {
//   float: left;
// }
.tag {
  border-radius: 3px 0 0 3px;
  color: rgb(20, 5, 5);
  display: inline-block;
  line-height: 1;
  padding: 8px 20px;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  font-size: 12px;
}

.tag::before {
  // background: rgb(119, 119, 165);
  background: white;
  border-radius: 50%;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 8px;
  position: absolute;
  width: 6px;
  top: 50%;
  padding-right: 4px;
  transform: translateY(-50%)
}

.tag:hover {
  background: #088E8B;
  color: white;
}

a.delete{
  background-color: crimson;
  color:#fff;
  padding:4px;
  position:absolute;
  right:0;
  transform: translate(100%);
  transition: 200ms;
}
// .tag:hover::after {
//   border-left-color: crimson;
// }
